body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

table, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.perimetro {
    background-color: rgb(254, 96, 96);
}
